.react-datalist-input__container input,
.react-datalist-input__container input:focus {
    background-color: transparent !important;
    --border: none;
    outline: none;
    color: white;
    font-weight: 400;
}
